#desktop>#taskbar {
    border-right: 1px solid #eee;

    width: 100%;
    height: 38px;
    background-color: #1e2629;

    display: flex;
    /* برای اینکه لیست ان نقطه  ها نباشه نان میکنیم */
    list-style: none;
    /* gap: 50px; */

}

#desktop>#taskbar>.start {
    background: url(../icon/01.png) no-repeat;
    width: 47px;
    height: 38px;

}

/* وقتی سرچ فعال شد */
.search-active {

    background: white !important;

}

.search-active input {
    /* وقتی کاربر تایپ می‌کند: مشکی */

    color: #000;

}

.search-active input::placeholder {

    color: #444;

}


#desktop>#taskbar>#search {
    border: 1px solid #ccccccce;
    width: 288px;
    height: 100%;
    background: #333333;

    /* margin-right: 200px; */
    display: flex;
    align-items: center;
    gap: 5px;

}

#desktop>#taskbar>#search img {
    margin-left: 6px;
}

#desktop>#taskbar>#search input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    color: #fff;
}

#desktop>#taskbar>.task_view {
    background: url(../icon/02.png) no-repeat;
    width: 38px;
    height: 38px;
    margin-left: 5px;
    margin-right: 8px;
}

#desktop>#taskbar>.firefox {
    background: url(../icon/03.png) no-repeat;
    width: 38px;
    height: 38px;
}

#desktop>#taskbar>.microsoft {
    background: url(../icon/04.png) no-repeat;
    width: 38px;
    height: 38px;
    margin-left: 15px;
}

#desktop>#taskbar>.file-explorer {
    background: url(../icon/10.png) no-repeat;
    width: 38px;
    height: 38px;
    margin-left: 15px;
}

#desktop>#taskbar>.system-tray {

    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 15px;
    height: 100%;
    list-style: none;
}


#desktop>#taskbar>.system-tray>.icons {
    background: url(../icon/11.png) no-repeat;
    width: 130px;
    height: 38px;
    /* margin-right: 18px; */
}

#desktop>#taskbar>.system-tray>.language {
    /* color: #fff;
            user-select: none;
            margin-top: 0px;
            margin-right: 55px; */

    position: relative;

    color: #fff;
    user-select: none;

    margin-top: 0;
    margin-right: 55px;

    height: 38px;

    display: flex;
    align-items: center;

    cursor: pointer;

}

/* متن FA / EN */
#current-language {
    display: block;
}

/* منوی زبان */
.language-menu {
    /* position: absolute; */
    position: fixed;
    right: 0px;
    bottom: 38px;
    /* left: auto; */
    width: 330px;

    background: rgba(30, 30, 30, 0.96);

    color: white;

    border: 1px solid #555;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

    /* display: none; */

    z-index: 9999;
    /* حالت بسته */
    opacity: 0;
    visibility: hidden;

    /* از پایین به بالا */
    transform: translateY(20px);

    transform-origin: bottom center;

    transition:
        opacity 0.25s ease,
        transform 0.25s ease,
        visibility 0.25s ease;

}

/* حالت باز */

.language-menu.open {
    opacity: 1;
    visibility: visible;

    transform: translateY(0);
}

.language-item {
    display: grid;

    grid-template-columns: 65px 1fr;

    min-height: 65px;

    cursor: pointer;
}

.language-icon {
    display: flex;

    align-items: center;
    justify-content: center;

    font-size: 16px;

    color: #ddd;
}

.language-content {
    /* border-left: 1px solid #555; */

    padding: 10px 12px;

    display: flex;

    flex-direction: column;

    justify-content: center;
}

.language-title {
    font-size: 14px;

    line-height: 22px;
}

.language-subtitle {
    font-size: 13px;

    color: #ccc;

    line-height: 20px;
}

.language-item.selected {
    background: #b49b20;
}

.language-item:hover {
    background: rgba(255, 255, 255, 0.1);
}

.language-item.selected:hover {
    background: #b49b20;
}

.language-item.preferences {
    min-height: 60px;

    margin-top: 5px;

    border-top: 1px solid #555;
}

/* گزینه های منو */
.language-menu li {
    height: 35px;

    line-height: 35px;

    padding: 0 10px;

    color: #fff;

    cursor: pointer;

    list-style: none;
}


/* وقتی موس روی گزینه می رود */
.language-menu li:hover {
    background: #316ac5;
}

/* #desktop>#taskbar>.clock {} */

#desktop>#taskbar>.system-tray>.notifications {
    background: url(../icon/08.png) no-repeat;
    width: 48px;
    height: 38px;
    /* margin-left: auto; */
    margin-top: 3px;


}

#desktop>#taskbar li:hover {

    filter: brightness(.9);

}
